@prefix: "yx";

@import "base";
@import "func";
@import "dropdown";
@import "tab";

@toolbar-height: 40px;
@toolbar-lineheight: 40px;

// 外层包裹器
.toolbar-wrap {
  height: @toolbar-height;
  padding: 0 0 0 20px;
  vertical-align: middle;
  color: #c7c7c7;
  .gradient(top, #666666, #1c1c1c);
}

// 左浮
.toolbar-l {
  float: left;
  // logo
  .toolbar-logo {
    display: inline-block;
    vertical-align: top;
    width: 121px;
    height: @toolbar-height;
    margin-right: 25px;
    text-indent: -9999px;
    background: url(../img/toolbar-logo.png) no-repeat center center;
  }

  // 下拉内容框的样式
  .yx-dropdown {
    display: inline-block;
    & > .yx-dropdown-btn {
      display: block;
      margin: 9px 0;
      height: 20px;
      line-height: 20px;
      padding: 0 15px 0 10px;
      border-radius: 3px;
      border: 1px solid #6c6c6c;
      background: #212328 url(../img/toolbar-flip.png) no-repeat right center;
    }
  }

  // 区服列表
  .gamezone-list {

    width: 150px;
    overflow: hidden;
    background: #fff;
    background-color: #25282a;
    .title {
      color: #868585;
      display: block;
      margin: 10px;
    }
    .list-item {
      a {
        display: block;
        color: #adadad;
        padding: 6px 10px;
        &:hover {
          color: #ff7a3f;
          background-color: #3c3f3f;
        }
      }

      &.active a {
        color: #ff7a3f;
      }
    }
    .divide {
      border: 1px solid #5a5d5f;
      margin: 5px 10px 10px;
    }
    .allzones {
      margin-top: 5px;
      text-align: center;
      background-color: #3c3f3f;
      a {
        display: block;
        color: #adadad;
        padding: 10px 0;
        &:hover {
          color: #ff7a3f;
          background-color: #3c3f3f;
        }
      }
    }
  }

  //公告列表
  .toolbar-notice {
    height: @toolbar-height;
    line-height: @toolbar-lineheight;
    margin-left: 30px;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    .notice-icon,
    .notice-ul {
      display: inline-block;
      vertical-align: top;
    }
    .notice-icon {
      width: 10px;
      vertical-align: top;
      text-indent: -9999px;
      background: url(../img/toolbar-voice.png) no-repeat center center;
    }
    a:hover {
      color: @activeC;
    }
  }
}

// 右浮
.toolbar-r {
  float: right;
  .toolbar-userInfo,.user-opt,.ul-list,.actions {
    vertical-align: top;
    display: inline-block;
  }
  // 用户信息
  .toolbar-userInfo {
    margin-right: 20px;
    height: @toolbar-height;
    line-height: @toolbar-lineheight;
    img, i {
      display: inline-block;
      vertical-align: middle;
    }
  }
  // 保存账号和签到
  .user-opt {
    height: @toolbar-height;
    line-height: @toolbar-lineheight;
    .saveid-btn,
    .qd-btn {
      display: inline-block;
      height: 24px;
      padding: 0 7px;
      line-height: 24px;
      text-align: center;
      color: #c7c7c7;
      font-size: 12px;
      border-radius: 5px;
      margin-right: 10px;
      background-color: #383c40;
      &:hover {
        background-color: #53565b;
      }
    }
    .qd-btn {
      padding: 0 7px 0 28px;
      background: #383c40 url(../img/toolbar-qd.png) no-repeat;
      background-position: 8px 6px;
    }
  }
  // 列表
  .ul-list {
    & > li {
      display: inline-block;
    }
    & > li > a {
      display: block;
      color: #c7c7c7;
      padding: 0 10px;
      border-left: 1px solid #6e6e6e;
    }

    & > li .yx-dropdown .yx-dropdown-label {
      padding: 0 10px;
      display: block;
      height: @toolbar-height;
      line-height: @toolbar-lineheight;
    }
    & > li .yx-dropdown-btn {
      display: block;
      height: @toolbar-height;
      line-height: @toolbar-lineheight;
      border-left: #6c6c6c 1px solid;
      border-right: #6c6c6c 1px solid;
      padding: 0 20px 0 10px;
      cursor: pointer;
      background: url(../img/toolbar-flip.png) no-repeat 60px center;
      &:hover {
        background-color: #555;
      }
    }
  }
  .package {
    width: 340px;
    position: absolute;
    & > .title {
      overflow: hidden;
      height: 36px;
      line-height: 36px;
      background-color: #3b3e41;
      h3 {
        margin-left: 10px;
        float: left;
        font-weight: normal;
      }
      .closeBtn {
        float: right;
        display: block;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .package-ul > li {
      border-bottom: 1px solid #6e6e6e;
      position: relative;
    }
    .item-cont {
      padding: 10px;
      background-color: #25282d;
      .title {
        margin: 5px 0 8px;
        label,
        span,
        h3 {
          display: inline-block;
          vertical-align: middle;
          font-weight: normal;
          font-size: 14px;
        }
        label {
          color: #fff;
          font-size: 12px;
          padding: 2px;
          border-radius: 2px;
          margin-right: 5px;
          &.newer {background-color: #87c438;}
          &.only {background-color: #ff5656;}
          &.act {background-color: #eb8838;}
        }
        .score {
          color: #f5763e;
          font-weight: bold;
          margin-left: 20px;
        }
        .icon-bean {
          display: inline-block;
          vertical-align: middle;
          margin-right: 3px;
          width: 16px;
          height: 16px;
          background-color: #ccc;
        }
      }

      .cont {
        line-height: 20px;
        overflow: hidden;
        overflow: hidden;
      }
      .desc-txt {
        overflow: hidden;
      }
      .getBtn {
        float: right;
        height: 100%;
        text-align: center;
        margin-left: 20px;
        i {
          display: inline-block;
          vertical-align: middle;
        }
        a {
          width: 76px;
          height: 26px;
          line-height: 26px;
          display: block;
          background-color: @activeC;
          color: #fff;
          border-radius: 3px;
          vertical-align: middle;
          cursor: pointer;
          &:hover {background-color: #fd742f;}
        }
      }
    }
    .layer-full {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.9);
      text-align: center;
    }
    .actions {
      a {
        display: inline-block;
        width: 76px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        margin: 0 5px;
        cursor: pointer;
        &.primary-btn {
          background-color: #fe5e0d;
          &:hover {
            background-color: #fd742f;
          }
        }
        &.cancel-btn {
          background-color: #3b3e41;
          &:hover {
            background-color: #4f5254;
          }
        }
      }
    }

    .tip-layer,.confirm-layer,.hasGot,.needBeans-layer {display: none;}
    .tip-layer.active {
      display: block;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: rgba(255, 50, 80, .7);
      color: #fff;
    }

    .confirm-layer {
      .layer-full;
      p {
        margin: 20px 0;
        font-size: 16px;
        color: #fff;
      }
      .actions;
    }
    .hasGot.active {
      display: block;
      background-color: #25282d;
      padding-bottom: 15px;
      .code {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        padding: 5px;
        width: 225px;
        color: #ff7a3f;
        background-color: #3b3e41;
        border-radius: 3px;
        border: 1px solid #5c6165;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .copyBtn {
        vertical-align: middle;
        display: inline-block;
        width: 76px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background-color: @activeC;
        color: #fff;
        border-radius: 3px;
        vertical-align: middle;
        cursor: pointer;
        &:hover {background-color: #fd742f;}
      }
    }
    .needBeans-layer {
      .layer-full;
      p {
        margin: 15px 0 10px;
        font-size: 16px;
        color: #fff;
        .number {color: #fe5e0d;}
      }
      .needBeans {
        width: 220px;
        margin: 5px auto 10px;
        overflow: hidden;
        .remain-wrap {float: left;}
        .value {float: right;}
        .actions;
        i {
          font-style: normal;
        }
      }
    }
  }
  // 关闭按钮
  .actions > .close-btn {
    display: inline-block;
    vertical-align: top;
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: url(../img/toolbar-closeBtn.png) no-repeat center center;
    &:hover {
      background-color: #3b3e41;
    }
  }
}









